<!-- shop-item.component.html -->
<label
  [ngClass]="{ 'opacity-50': isSoldOut }"
  class="flex relative bg-white dark:bg-slate-800 shadow-lg rounded-sm border border-slate-200 dark:border-slate-700 cursor-pointer hover:border-slate-300 dark:hover:border-slate-600 duration-150 ease-in-out overflow-hidden"
>
  <!-- Checkbox -->
  <input
    type="checkbox"
    class="peer sr-only"
    aria-hidden="true"
    [attr.aria-controls]="productDetailModalId"
    (click)="toggleModal(true, $event)"
  />

  <!-- Image -->
  <div
    class="relative block w-24 sm:w-2/5 xl:sidebar-expanded:w-40 2xl:sidebar-expanded:w-56 shrink-0"
  >
    <img
      class="absolute object-cover object-center w-full h-full"
      [src]="product?.image"
      alt="Product Image"
    />
  </div>

  <!-- Content -->
  <div class="grow p-5 flex flex-col w-3/5">
    <div class="grow">
      <!-- Product Title -->
      <h3 class="mb-2 text-lg font-bold text-slate-800 dark:text-slate-100">
        {{ product?.title }}
      </h3>
      <!-- Product Description -->
      <p class="text-sm">{{ product?.description }}</p>
    </div>

    <div class="mt-3">
      <!-- Price -->
      <div class="flex items-center space-x-2">
        <!-- Quantity -->
        <div class="text-sm font-medium text-slate-800">
          {{ productQuantity }} <span>x</span>
        </div>
        <!-- Original Price -->
        <div
          class="inline-flex text-sm font-medium bg-emerald-100 dark:bg-emerald-400/30 text-emerald-600 dark:text-emerald-400 rounded-full text-center px-2 py-0.5"
        >
          ${{ product?.price }}
        </div>
        <!-- Comparable Price -->
        <div
          *ngIf="isDiscounted"
          class="inline-flex text-sm font-medium text-slate-500 dark:text-slate-400 line-through"
        >
          $199.00
        </div>
        <!-- Sold Out -->
        <div
          *ngIf="isSoldOut"
          class="inline-flex text-sm font-medium bg-rose-100 dark:bg-rose-500/30 text-rose-500 dark:text-rose-400 rounded-full text-center px-2 py-0.5"
        >
          Sold Out
        </div>
      </div>
    </div>
  </div>

  <!-- Selected Product Border -->
  <div
    class="absolute inset-0 border-2 border-transparent peer-checked:border-indigo-400 dark:peer-checked:border-indigo-500 rounded-sm pointer-events-none"
  ></div>
</label>

<app-shop-product-modal
  [id]="productDetailModalId"
  [modalOpen]="productDetailModalOpen"
  (closeModal)="toggleModal(false, $event)"
>
  <div class="relative">
    <img
      class="w-full"
      [src]="product?.image"
      width="460"
      height="200"
      alt="Product Image"
    />
    <!-- Close button -->
    <button
      class="absolute top-0 right-0 mt-5 mr-5 text-slate-50 hover:text-white"
      (click)="toggleModal(false, $event)"
    >
      <div class="sr-only">Close</div>
      <svg class="w-4 h-4 fill-current">
        <path
          d="M7.95 6.536l4.242-4.243a1 1 0 011.415 1.414L9.364 7.95l4.243 4.242a1 1 0 01-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"
        ></path>
      </svg>
    </button>
  </div>
  <div class="p-5">
    <!-- Modal header -->
    <div class="mb-2">
      <div class="text-lg font-semibold text-slate-800 dark:text-slate-100">
        {{ product?.title }}
      </div>
    </div>
    <!-- Modal content -->
    <div class="text-sm mb-5">
      <div class="space-y-2">
        <p>{{ product?.description }}</p>
      </div>
    </div>
    <!-- Modal footer -->
    <div class="flex flex-wrap justify-between space-x-2">
      <app-quantity-selector
        [productQuantity]="productQuantity"
        (quantityChange)="updateQuantity($event)"
      ></app-quantity-selector>
      <button
        class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white"
        (click)="addToCart()"
      >
        Add for ${{ product?.price }}
      </button>
    </div>
  </div>
</app-shop-product-modal>
