@if(errorMessage) {
<p>Error: {{ errorMessage }}</p>
} @if(infoMessage) {
<p>Info: {{ infoMessage }}</p>
} @if (data$ | async; as data){
<section class="section">
  <div
    class="flex justify-between items-start md:items-center flex-col md:flex-row gap-2 mb-8"
  >
    <div class="mb-4 sm:mb-0">
      <h1
        class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold"
      >
        Users
      </h1>
    </div>
    <div class="ml-auto flex justify-end items-start gap-2 flex-wrap">
      @if (getSelectedUsersCount(data.totalUsers) > 0) {
      <app-row-controls
        class="w-full md:w-fit"
        [numberOfSelectedRows]="getSelectedUsersCount(data.totalUsers)"
        (delete)="
          openUserConfirmBulkDeleteModal(getSelectedUsersCount(data.totalUsers))
        "
      />
      }
      <app-input-search
        placeholder="Search users..."
        [initialValue]="queryOptions.searchQuery"
        (searchTermChange)="handleSearch($event)"
      />
      <app-input-filter-immediate
        svgIcon="calendar"
        ariaLabel="Select date range"
        [options]="dateFilterOptions"
        [initialValue]="queryOptions.dateFilter"
        (filterChange)="handleDateFilter($event)"
      />
      <app-input-filter-checkbox
        [options]="filterOptions"
        [initialValue]="queryOptions.filters"
        (filtersChange)="handleFilter($event)"
      />
      <app-button
        ariaControls="add-user-modal"
        ariaLabel="Show add user modal"
        svgIcon="plus"
        (btnClick)="openUserModal()"
      >
        <ng-template appButtonText> Add User </ng-template>
      </app-button>
    </div>
  </div>

  <div [hidden]="data.isLoading">
    <app-table
      [title]="'All Users'"
      [columns]="columns"
      [totalRows]="data.totalUsers"
      [dataSource]="dataSource"
      [initialSort]="queryOptions.sort"
      (allRowsSelectedChange)="handleAllRowsSelectedChange($event)"
      (rowsSelectedChange)="handleRowsSelectedChange($event)"
      (sort)="handleSort($event)"
      (delete)="openUserConfirmDeleteModal($event)"
      (edit)="openUserModal($event)"
    />
    <app-pagination
      [currentPage]="queryOptions.page"
      [numberOfItems]="data.totalUsers"
    />
  </div>
  <div [hidden]="!data.isLoading">
    <app-table-skeleton />
  </div>
</section>
}
