<div
  class="flex flex-col md:flex-row gap-8 w-full justify-around text-center p-4"
>
  <div class="stats-container">
    <span class="stats-title">Last Transaction</span>
    @if (statistics.lastTransactionDate) {

    <time class="stats-value" [dateTime]="statistics.lastTransactionDate">{{
      statistics.lastTransactionDate | dateAgo
    }}</time>
    } @else {
    <span class="stats-value">N/A</span>
    }
  </div>
  <div class="stats-container">
    <span class="stats-title">Total spent</span>
    <span class="stats-value">{{
      statistics.totalAmountSpent | currency : statistics.currencyCode
    }}</span>
    <span class="stats-additional">
      {{
        statistics.totalTransactions
          | i18nPlural : { "=1": "1 transaction", other: "# transactions" }
      }}</span
    >
  </div>
  <div class="stats-container">
    <span class="stats-title">Average transaction value</span>
    <span class="stats-value">{{
      statistics.averageAmountSpentPerTransaction
        | currency : statistics.currencyCode
    }}</span>
  </div>
</div>
