<div
  class="flex flex-col md:flex-row gap-8 w-full justify-around text-center p-4"
>
  <div class="stats-container">
    <app-skeleton class="stats-title" />
    <app-skeleton class="stats-value" />
  </div>
  <div class="stats-container">
    <app-skeleton class="stats-title" />
    <app-skeleton class="stats-value" />
  </div>
  <div class="stats-container">
    <app-skeleton class="stats-title" />
    <app-skeleton class="stats-value" />
  </div>
  <div class="stats-container">
    <app-skeleton class="stats-title" />
    <app-skeleton class="stats-value" />
  </div>
</div>
