@if(errorMessage) {
<p>Error: {{ errorMessage }}</p>
} @if (data$ | async; as data){
<app-button
  variant="ghost"
  class="ord-modal-button-close"
  svgIcon="close"
  ariaLabel="Close"
  [disabled]="loading"
  (btnClick)="closeDialog()"
/>
<h2 mat-dialog-title class="ord-modal-title">
  {{ mode === "edit" ? "Edit" : "Add" }} Inventory
</h2>
<mat-dialog-content class="ord-modal-content">
  <p class="ord-form-help-text">Provide basic inventory item details.</p>

  <form
    [formGroup]="formGroup"
    (ngSubmit)="handleSubmit()"
    class="grid grid-cols-2 gap-x-4"
  >
    <app-input-text
      id="Item"
      label="Item"
      controlName="title"
      [value]="inventory?.title"
      [validators]="[Validators.required]"
    />
    <app-input-select
      id="unit"
      label="Unit"
      controlName="unit"
      [options]="unitOptions"
      [value]="inventory?.unit"
      [validators]="[Validators.required]"
    />
    <app-input-text
      id="sku_plu"
      label="SKU/PLU"
      controlName="sk_plu"
      [value]="inventory?.sk_plu"
      [validators]="[Validators.required]"
    />
    <app-input-select
      id="store"
      label="Store"
      controlName="storeId"
      [options]="data.storeOptions"
      [value]="inventoryStoreName"
      [validators]="[Validators.required]"
    />
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="ord-modal-actions">
  @if(errorMessage) {
  <ul class="ord-modal-errors">
    <li>{{ errorMessage }}</li>
  </ul>
  }
  <app-button
    variant="secondary"
    (btnClick)="closeDialog()"
    [disabled]="loading"
  >
    <ng-template appButtonText> Cancel </ng-template>
  </app-button>
  <app-button
    (btnClick)="handleSubmit()"
    [disabled]="formGroup.invalid || loading"
    [svgIcon]="loading ? 'loading' : undefined"
  >
    <ng-template appButtonText>
      {{ mode === "create" ? "Add" : "Save" }}
    </ng-template>
  </app-button>
</mat-dialog-actions>
}
