<div class="flex flex-col justify center">
  <label [for]="id" class="ord-form-field-label"
    >{{ label }}
    @if (!label) {
    <span class="cdk-visually-hidden">Select Number of Months</span>
    } @if (required) {
    <span class="ord-form-field-required">*</span>
    }
  </label>
  <div [id]="id" class="flex gap-2">
    @for (option of subscriptionPlanDurationOptions; track $index) {
    <div
      class="duration-box flex-1"
      (click)="handleDurationSelected(option.value)"
      [ngClass]="{ 'duration-box--selected': isDurationSelected(option.value) }"
      [attr.aria-pressed]="isDurationSelected($index) ? 'true' : 'false'"
      tabindex="0"
    >
      {{ option.label }}
    </div>
    }
  </div>
  @if(hasHint) {
  <span class="ord-hint">
    {{ hintText }}
  </span>
  }
</div>
