<!-- Content area -->
<div
  class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden bg-white dark:bg-slate-900"
>
  <!-- Supposed to be header -->
  <main class="grow">
    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
      <div class="max-w-2xl m-auto mt-16">
        <div class="text-center px-4">
          <div class="inline-flex mb-8">
            <img
              class="dark:hidden"
              src="./images/404-illustration.svg"
              width="176"
              height="176"
              alt="404 illustration"
            />
            <img
              class="hidden dark:block"
              src="./images/404-illustration-dark.svg"
              width="176"
              height="176"
              alt="404 illustration dark"
            />
          </div>
          <div class="mb-6">unauthorized works!</div>
          <a href="/" class="btn bg-primary-500 hover:bg-primary-600 text-white"
            >Back To Dashboard</a
          >
        </div>
      </div>
    </div>
  </main>
</div>
