<div class="flex flex-col gap-4">
  <div class="flex gap-4 items-center">
    <app-switcher [checked]="!!trackingTime()" [disabled]="true" />
    <h1 class="text-base font-semibold">{{ title() }}</h1>
  </div>

  <mat-form-field class="ord-form-field" color="accent" appearance="outline">
    <mat-icon svgIcon="calendar" matIconPrefix class="ord-icon" />
    <input
      type="text"
      class="!cursor-default !pointer-events-none !text-gray-400 !font-medium"
      [disabled]="disabledCalendar()"
      matInput
      mwlFlatpickr
      [noCalendar]="true"
      [enableTime]="true"
      [ngModel]="trackingTime()"
      dateFormat="F j, Y  H:i"
    />
  </mat-form-field>

  <div [class.cursor-not-allowed]="disabled()">
    <ng-container *ngTemplateOutlet="trackingTemplate()"></ng-container>
  </div>
</div>
