<form [formGroup]="form()" class="flex flex-col md:flex-row gap-8">
  <header class="w-full md:w-1/3">
    <h3 class="ord-h5">Contact Information</h3>
    <p class="ord-body-1">
      Your customers will use this information to contact you.
    </p>
  </header>
  <div class="w-full md:w-2/3">
    <app-input-email
      label="Email"
      controlName="email"
      [validators]="[Validators.required]"
    />
    <app-input-mobile
      label="Mobile number"
      controlName="mobile"
      [validators]="[Validators.required]"
    />
    <app-input-telephone label="Telephone" controlName="telephone" />
    <app-input-text
      label="Website"
      controlName="website"
      [validators]="[Validators.pattern(websiteUrlPattern)]"
    />
  </div>
</form>
