<app-button
  variant="ghost"
  class="ord-modal-button-close"
  svgIcon="close"
  ariaLabel="Close"
  [disabled]="loading"
  (btnClick)="closeDialog()"
/>
<h2 mat-dialog-title class="ord-modal-title">
  {{ mode === "edit" ? "Edit" : "Add" }} Customer
</h2>
<mat-dialog-content class="ord-modal-content" cdkScrollable>
  <p class="ord-form-help-text">Provide customer details.</p>

  <form
    [formGroup]="formGroup"
    (ngSubmit)="handleSubmit()"
    class="grid grid-cols-2 gap-x-4"
  >
    <app-input-text
      id="first-name"
      label="First Name"
      controlName="firstName"
      [value]="customer?.firstName"
      [validators]="[Validators.required]"
    />
    <app-input-text
      id="last-name"
      label="Last Name"
      controlName="lastName"
      [value]="customer?.lastName"
      [validators]="[Validators.required]"
    />
    <app-input-text
      id="company"
      label="Company"
      controlName="company"
      [value]="customer?.company"
    />
    <app-input-text
      id="zip-code"
      label="Zip Code"
      controlName="zipCode"
      [value]="customer?.zipCode"
    />
    <app-input-text
      id="city"
      label="City"
      controlName="city"
      [value]="customer?.city"
    />
    <app-input-text
      id="street"
      label="Street"
      controlName="street"
      [value]="customer?.street"
    />
    <app-input-mobile
      id="mobile-number"
      label="Mobile number"
      controlName="mobile"
      [value]="{
        countryCode: customer?.mobileNumber?.slice(0, 3) || '+63',
        number: customer?.mobileNumber?.slice(3) || ''
      }"
      [validators]="[Validators.required]"
    />
    <app-input-telephone
      id="telephone"
      label="Telephone"
      controlName="telephone"
      [value]="{
        countryCode: customer?.telephone?.slice(0, 3) || '+63',
        number: customer?.telephone?.slice(3) || ''
      }"
    />
    <app-input-email
      id="email"
      label="Email"
      controlName="email"
      [value]="customer?.email"
    />
    <app-input-datepicker
      id="birthday"
      label="Birthday"
      controlName="birthday"
      [value]="customer?.birthday"
    />
    <app-input-textarea
      class="col-span-2"
      id="note"
      label="Note"
      controlName="note"
      [value]="customer?.note"
    />
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="ord-modal-actions">
  @if(errorMessage) {
  <ul class="ord-modal-errors">
    <li>{{ errorMessage }}</li>
  </ul>
  }
  <app-button
    variant="secondary"
    (btnClick)="closeDialog()"
    [disabled]="loading"
  >
    <ng-template appButtonText> Cancel </ng-template>
  </app-button>
  <app-button
    (btnClick)="handleSubmit()"
    [disabled]="formGroup.invalid || loading"
    [svgIcon]="loading ? 'loading' : undefined"
  >
    <ng-template appButtonText>
      {{ mode === "create" ? "Add" : "Save" }}
    </ng-template>
  </app-button>
</mat-dialog-actions>
