.ord-skeleton.ord-h6 {
  height: 28px;
  max-width: 150px;
}

.ord-skeleton.ord-body-1 {
  height: 20px;
  width: 75px;
}
header .ord-skeleton.ord-body-1 {
  width: 175px;
}

.ord-skeleton.ord-body-2 {
  height: 18px;
  max-width: 150px;
}

.ord-skeleton.ord-subtitle-1 {
  flex-grow: 1;
  height: 24px;
  max-width: 150px;
}
