<div class="flex flex-col">
  @if (showLabel()) {
  <label
    [for]="id()"
    class="ord-form-field-label"
    [class.ord-form-field-label--disabled]="disabled()"
    >{{ label() }}
    @if (required) {
    <span class="ord-form-field-required">*</span>
    }
  </label>
  }
  <mat-form-field
    class="ord-form-field"
    [class.ord-form-field--disabled]="disabled()"
    color="accent"
    appearance="outline"
  >
    @if(hasPrefix()) {
    <span matPrefix class="ord-prefix">{{ prefixText() }}</span>
    }
    <input
      matInput
      [type]="isVisible() ? 'text' : 'password'"
      [id]="id()"
      [placeholder]="placeholder()"
      [formControlName]="controlName()"
      [required]="required"
      role="presentation"
      [autocomplete]="'new-' + id"
    />
    <button
      matSuffix
      mat-icon-button
      [ariaLabel]="isVisible() ? 'Hide Password' : 'Show Password'"
      (click)="toggleVisibility()"
    >
      <mat-icon
        class="mr-2"
        [svgIcon]="isVisible() ? 'visibility-off' : 'visibility'"
      ></mat-icon>
    </button>
    @if(hasSuffix()) {
    <span matSuffix class="ord-suffix">{{ suffixText() }}</span>
    } @if (hasHint()) {
    <mat-hint class="ord-hint">{{ hintText() }}</mat-hint>
    } @if (password.hasError('required')) {
    <mat-error class="ord-error">{{ label() }} is required.</mat-error>
    } @if (password.hasError('maxlength')) {
    <mat-error class="ord-error"
      >{{ label() }} must not exceed
      {{ password.getError("maxlength").requiredLength }} characters.</mat-error
    >
    } @if (password.hasError('pattern') && password.touched) {
    <mat-error class="ord-error">
      {{ label() }} did not meet requirements.
    </mat-error>
    }
  </mat-form-field>
  <!-- Password requirements -->
  @if(requireStrongPassword() && password.invalid) {
  <div class="space-y-2">
    @for(requirement of passwordRequirements; track $index) {
    <div
      class="password-requirement flex gap-2 items-center"
      [class.password-requirement--passed]="requirement.passed"
    >
      <mat-icon
        [svgIcon]="requirement.passed ? 'check' : 'close'"
        class="ord-icon"
      />
      <span class="ord-body-1">{{ requirement.description }}</span>
    </div>
    }
  </div>
  }
</div>
