<div class="px-5 py-3 border-b border-slate-200 dark:border-slate-700">
  <div class="flex justify-between items-center">
    <div class="font-semibold text-slate-800 dark:text-slate-100">
      {{data.product.title}}
    </div>
    <button
      class="text-slate-400 dark:text-slate-500 hover:text-slate-500 dark:hover:text-slate-400"
      (click)="close()"
    >
      <div class="sr-only">Close</div>
      <svg class="w-4 h-4 fill-current">
        <path
          d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"
        ></path>
      </svg>
    </button>
  </div>
</div>

<div class="px-5 py-4">
  <mat-tab-group>
    <mat-tab label="Item Details">
      <app-details-configuration [orderedProduct]="data" />
    </mat-tab>
    <mat-tab label="Item Discount">
      <app-discount-form (applyDiscount)="applyDiscount($event)" [discount]="data.discount" [maxDiscount]="data.price" />
    </mat-tab>
  </mat-tab-group>
</div>
