.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 1.5rem;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.2s;
}

.toggle-switch::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

input:checked + .toggle-switch {
  background-color:rgb(99 102 241/var(--tw-bg-opacity));
}

input:checked + .toggle-switch::after {
  transform: translateX(22px);
}
.btn, .btn-lg, .btn-sm, .btn-xs {
  border-color: #ededed !important;
}
.btn {
  border-color: #e2e8f0;
}
