<!-- <mat-card class="mat-elevation-z3" style="border-style: none;"> -->
<div
  style="
    background-color: white;
    box-shadow: -2px 2px 5px #888;
    height: 398.19px;
    padding: 10px;
  "
>
  <div style="height: 354.19px; overflow-y: auto">
    <button
      *ngFor="let item of customPresets"
      color="primary"
      style="width: 100%; text-align: left"
      class="text-lg font-medium"
      (click)="selectRange(item)"
      [ngClass]="
        item === selectedRange ? 'bg-indigo-50 dark:bg-indigo-500/30' : ''
      "
    >
      {{ item }}
    </button>
  </div>
  <!-- </mat-card> -->
</div>
